<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Parquette</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86_64</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9C2B996CF5BAC834CADF7BB5DC4CAE26A3862108</string>
				<key>dateExpires</key>
				<string>2/19/25</string>
				<key>type</key>
				<string>Developer ID Application</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9C2B996CF5BAC834CADF7BB5DC4CAE26A3862108</string>
						<key>dateExpires</key>
						<string>2/19/25</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>SwiftArrow.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2HFBY6N8ZN</string>
						<key>name</key>
						<string></string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>com.apple.security.automation.apple-events</key>
				<true/>
				<key>com.apple.security.cs.allow-dyld-environment-variables</key>
				<true/>
				<key>com.apple.security.cs.allow-jit</key>
				<true/>
				<key>com.apple.security.cs.allow-unsigned-executable-memory</key>
				<true/>
				<key>com.apple.security.cs.debugger</key>
				<true/>
				<key>com.apple.security.cs.disable-executable-page-protection</key>
				<true/>
				<key>com.apple.security.cs.disable-library-validation</key>
				<true/>
				<key>com.apple.security.device.audio-input</key>
				<true/>
				<key>com.apple.security.device.camera</key>
				<true/>
				<key>com.apple.security.personal-information.addressbook</key>
				<true/>
				<key>com.apple.security.personal-information.calendars</key>
				<true/>
				<key>com.apple.security.personal-information.location</key>
				<true/>
				<key>com.apple.security.personal-information.photos-library</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Parquette.app</string>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2HFBY6N8ZN</string>
				<key>name</key>
				<string></string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
