<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Parquette (iOS).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Parquette.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SwiftArrow.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49175ECE25BF6138003E9FEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49175ED725BF6139003E9FEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>492E72CE25CCC170003C8D58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>492E72E125CCC170003C8D58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
